@media screen{


	body.agents-dashboard {

		.tab-mobile-controls {
			margin-bottom: 0;
			text-align: center;
			position: relative;
			.form-control{
				border:1px solid #B2B2B2;
				text-align: left;

			}
			&:after {
			    content: "▼";
			    padding: 12px 8px;
			    position: absolute;
			    right: 0px;
				top: 5px;
			    z-index: 1;
			    text-align: center;
			    width: 10%;
			    height: 100%;
			    pointer-events: none;    
			}
		}
		.agent-notice{
			background:$color-blue;
			position: relative;
			text-align: center;
			padding: 50px 20px;
			margin-bottom: 50px;

			.contents.collapsed {
				display: none;
			}

			&.active{

				.contents{
					display: none;

					&.collapsed {
						display: block;
					}
				}

			}
			.ctrl {
				position: absolute;
				top: 10px;
				right: 10px;
				color: $color-white;
				line-height: 1em;
				font-size: 0.857em;
				z-index: 10;
				text-decoation: none;
			}

			.bg {
				position: absolute;
				left:0;
				right: 0;
				bottom: 0;
				top: 0;
				z-index: 0;
				background-position:center;
				background-size:cover;
				opacity: 0.2;
			}

			h2 {
				position: relative;
				z-index: 3;
				color:$color-white;
				margin:0;
				font-size: 1.7em; 
				a{
					color:$color-white;
				}
			}

			@media (min-width: 992px){ 

				padding: 100px;

				&.active {
					padding: 35px;
				}

				h2{
					font-size: 2.250em;
					line-height: 1.8em;
				}

			}
		}

		.tab-controls{
			a {
				color: $color-white;
				border: none;
				border-left:1px solid #F7F7F7;
				border-right:1px solid #F7F7F7;
				border-radius: 0;
			}
			.active{
				position: relative;
				a.theme-pink{
					background:#FF6489;
				}
				a.theme-blue{
					background:#27D9E2;
				}
				&:after{
					content: '';
					display: block;
					width: 0; 
					height: 0; 
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid #fff;
					position: absolute;
					bottom: 0;
					left: 50%;

				}
			}
			a.theme-pink{
				background: $color-pink;
				&:hover, &:focus, &:active{
					background:#FF6489;
					color: $color-white;
				}
			}
			a.theme-blue{
				background: $color-lblue;	
				&:hover, &:focus, &:active{
					background:#27D9E2;
					color: $color-white;
				}
			}
		}
		.tab-content{
			background: $color-white;
			border:1px solid #B2B2B2;
			border-top:0;
			.table-responsive,table{
				margin: 0;
				th{
					font-size: 1em;
					padding: 15px;
				}
				td{
					font-size: 1em;
					padding: 15px;
				}
				@media (min-width: 992px){ 
					th{
						padding: 20px;
					}
					td{
						padding: 20px;
					}
				}
			}
		}
		.default-content{
			padding: 15px;
			color: #878A8F;
			@media (min-width: 992px){ 
				padding: 30px 100px;	
			}
		}



		
	}
}