@media screen{

	body.agent-page{
		&.agent-register,
		&.agent-home{
			#page-title{
				display: none;
			}
			.global-divider{
				margin: 0;
			}
		}

		#ahome-banner-area{
			padding: 80px 0;
			background-repeat:  no-repeat;
			background-position:  bottom center; 
			background-size: cover;
			h1{
				font-size: 24px;
				margin-bottom: 10px;
				font-weight: 600;
				color: #000F16;
			}
			p{
				font-size: 1em;
				margin: 0 0 30px;
				color: #000F16;
			}
			@media (min-width: 992px){ 
				padding: 200px 0;
				h1{
					font-size: 50px;	
				}
				p{
					font-size: 25px;
					margin: 0 0 50px;
				}
			}
		}
		#ahome-videos{
			.video-play{
				display: block;
				margin-bottom: 30px;
				position: relative;
				&:after {
					content: '';
					background: url(images/icon-play-video.svg) no-repeat center center;
					position: absolute;
					width: 50px;
					height: 50px;
					display: block;
					z-index: 2;
					top: 50%;
					right: 0;
					left: 0;
					margin: -25px auto 0;
				}
				img {
					width: 100%;
					height: auto;
					position: relative;
					z-index: 1;
				}
				@media (min-width: 992px) { 
					margin-bottom: 50px;
					&:after{
						width: 100px;
						height: 100px;
						margin-top: -50px;
					}
				}
			}
		}

		#ahome-howitworks{

			.hiw-heading {
				text-align: center;
				font-size: 30px;
				color: #0C4672;
				margin-bottom: 30px;
				@media (min-width: 768px){ 
					margin-bottom: 50px;
				}
			}

			.hiw-wrapper{
				margin: 0 -15px;
			}

			.hiw-list{
				text-align: center;

				.hiw-item{
					margin-bottom: 30px;
					text-align: center;
					display: inline-block;
					vertical-align: top;
					&:last-child{
						margin-bottom: 0;
					}
					.item-wrapper{
						padding: 0 15px;
					}
				}

				.image{
					width: 100%;
					max-width: 160px;
					margin: 0 auto 30px;
				}

				.desc{
					color: #0C4672;
					text-align: center;
					font-size: 1em;
					max-width: 230px;
					margin: 0 auto;
				}

				@media (min-width: 768px){ 
					.hiw-item{
					
						width: 50%;
					}
				}

				@media (min-width: 992px){ 
					.hiw-item{
						width: 25%;
					}
				}
			}
		}
	}
}