@media screen{


	body.agent-proposal{
		#page-title{
			border-bottom: none;
			h1{
				color: $color-blue;
			}
		}
		#proposal-profile{
			background:#F0F3F7; 
			padding: 30px 0;
			.profile{
				.name{
					color: #474747;
					margin-bottom: 0;
					text-align: center;
				}
				.company{
					margin: 0;
					text-align: center;
					color: $color-lblue;
					margin-bottom: 10px;
				}
				.photo{
					max-width: 250px;
					margin: 0 auto 30px;
				}
				.rating{
					text-align:  center;
					color: #fe7926;
					margin-bottom: 30px;
					font-size: 1.5em;
				}
				.ctrls{
					max-width: 350px;
					margin: 0 auto 30px;

				}
			}
			.promo{
				max-width: 350px;
				margin: 0 auto;
				background:$color-lblue;
				color:$color-white;
				padding:30px;
				text-align: center;
				.dc{
					font-size: 6em;
					font-weight: 600;
					line-height: 1em;
				}
				.dc-text{
					font-size:1.500em;
				}
				a{
					color: $color-blue;
					text-decoration: none;
					padding-bottom: 5px;
					border-bottom:1px solid $color-blue;
				}
			}
			@media (min-width: 992px){ 
				padding: 0;
				.profile{
					width: 100%;
					position: relative;
					.name,
					.company,
					.rating{
						text-align: left;
					}
					& > .item{
						display: inline-block;
						vertical-align: middle;
						width: 40%;
						text-align: left;
						padding: 20px 0;
						&:first-child{
							width: 30%;
							padding: 0;
						}
						&:last-child{
							width: 30%;
						}
					}
					.photo{
						margin: 0;
						margin-right:50px;
						max-width: 400px;
					}
					.promo{
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						width: 30%;
					}
					.ctrls{
						margin: 0;

					}
				}
				.promo{
					
				}
			}	


			@media (min-width: 1200px){ 
				.profile{
					border-top: 1px solid #dedede;
					border-bottom: 1px solid #dedede;
					& > .item{
						padding: 50px 0;
						&:first-child{
							padding: 0;
						}
					}
					.photo{
						margin: 40px 40px 40px 0;
						max-width: 430px;
						img{
							width: 100%;
							max-width: none;
						}
					}
					.promo{
						padding: 40px 30px;
						.dc{
							font-size: 6.5em;
							margin-top: 20px;
						}
						.dc-text {
    						margin-bottom: 30px;
    					}
					}
				}
			}

		}
		#proposal-info{

			.heading{
				font-weight: 400;
				margin-top: 30px;
				margin-bottom: 0;
				&:first-child{
					margin-top: 0;
				}
			}
			.textarea{
				margin-top: 30px;
				color: #727272;
			}

			.listitem{
				.title, .content{
					float: left;
					width:50%;
					padding-right: 10px;
				}
				.content{
					padding-right: 0;
					text-align: right;
					color: $color-lblue;
				}
			}

			@media (min-width: 992px){
				.heading{
					margin-top: 50px;
					&:first-child{
						margin-top: 0;
					}
				}
				.textarea{
					padding: 0 50px;
					margin-top: 50px;
				}	
				.listitem{
					font-size: 1.2em;
					margin-bottom: 5px;
					display: inline-block;
					width: 100%;
					position: relative;
					.title{
						font-weight: 500;
						padding-right: 30px;
					}
					.title,.content{
						background:#fff;
						z-index: 2;
						position: relative;
						display: inline;
						width: auto;
					}
					.content{
						float: right;
						padding-left: 30px;
					}
					&:after{
						content: '';
						height: 1px;
						width: 100%;
						display: block;
						background:#727272; 
						position: absolute;
						top: 50%;
						z-index: 1;
					}
				}
			}
		}
	}


}