
@media screen{
	#agent-profile{
		.profile{
			text-align: center;

			
			.photo{
				margin:0 auto 30px;
				width: 250px;
				img{
					border-radius: 50%;
					width: 100%;
					max-width: none;
				}
				
			}
			.info{
				.name{
					font-size: 2.000em;
					color: $color-blue;
					line-height: 1em;
					margin: 0 0 10px;
				}
				.company,.address{
					color: #9B9B9B;
					font-size:1em;
				}
				.address{
					margin-bottom: 30px;
					max-width: 400px;
				}
				.city, .state, .email, .phone, .websites{
					font-size:1.3em;
					label{
						color: #878A8F;
					    font-weight: 400;
					    margin: 0;
					}
					a{
						color: #606060;
					}
				}
				.location{
					font-size:1.3em;
					color: #878A8F;
					font-weight: 400;
				    margin: 0 0 20px;
				}
				.websites{
					margin-bottom: 0;
				}
				@media (min-width: 992px){ 
					.company,.address{
						font-size:1.286em;
					}
					.name{
						font-size: 2.571em;
					}
					.location{
						font-size: 0.9em;
					}
					.city, .state, .email, .phone, .websites{
						margin-bottom: 10px;
						label{
							display: block;
							font-size: 0.7em;
							margin-bottom: 5px;
						}
						font-size:1.5em;
					}
					.websites{
						margin-bottom: 0;
						font-size:1.286em;	
					}
				}
			}
			& > .item{
				&:last-child{
					margin-top: 10px;
				}

			}
			.buttons{
				.btn{
					margin-top: 10px;
				}
			}
			@media (min-width: 992px){ 
				text-align: left;

				& > .item{
					display: inline-block;
					vertical-align: middle;
					width: 50%;
					&:first-child{
						width: 30%;
					}
					&:last-child{
						margin-top: 0;
						width: 20%;
						vertical-align: top;
					}
				}
				.photo{
					width: 100%;
					padding-right: 30px;
					margin: 0;
					max-width: 320px;
				}
				.info{
					padding-right: 30px;
				}
				.buttons{
					.btn{
						display: block;
						margin-top: 10px;
						padding-left: 15px;
						padding-right: 15px;
					}
				}

			}
			@media (min-width: 992px){ 
				text-align: left;

				& > .item{
					width: 50%;
					&:first-child{
						width: 30%;
					}
					&:last-child{
						width: 20%;
					}
				}
			}
		}
	}

	#agent-content{
		background: #F0F3F7;
		padding-top:80px;

		.info-wrapper{
			background: #fff;
			border: 1px solid #AAAAAA;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: rgb(170, 170, 170);
			border-top: 2px solid #1FC0DA;
			padding: 30px;
			@media (min-width: 992px){
				padding: 70px;
				margin-bottom: 0;
			}
			&.widget-wrapper{
				padding:30px;
				margin-bottom: 70px;
				.widget{
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				.heading{
					font-size: 1.1em;
					color: #878A8F;
					margin: 0 0 5px;
					font-weight: 400;
				}
				.widget-content{
					font-size: 1.5em;
				}
				.social-list{
					margin: 0;
					padding:0;
					list-style-type: none;
					li{
						display: inline-block;
						margin-right: 10px;
						a{
							font-size: 1.5em;
							color: $color-black;
						}
					}
				}
				
			}
			&.proposal-wrapper{
				padding:30px;
				margin-bottom: 70px;
				.form-group{
					margin-bottom: 25px;
					label{
						font-size: 0.9em;
						color: #878A8F;
						margin: 0 0 10px;
						font-weight: 400;
					}
					.form-control{
						border:1px solid #878A8F;
					}
					textarea{
						&.form-control{
							min-height: 200px;
						}
					}
				}
				@media (min-width: 992px){
					padding:50px;
				}
			}
			.heading{
				font-size: 1.714em;
				margin-bottom: 30px;
				&.wunderline{
					border-bottom: 1px solid #878A8F;
					padding-bottom: 10px;
				}
			}
			.content{
				padding-left: 30px;
				margin-bottom: 40px;
				color: #878A8F;
				font-size: 1.143em;
			}

		}
		hr{
			margin: 70px 0;
			border-top: 2px solid $color-lblue;
		}
		.data-list,
		.rating-list,
		.area-list{
			width: 100%;
			max-width: 400px;
			& > .list{
				margin-bottom: 5px;
				display: inline-block;
				width: 100%;
				&:last-child{
					margin-bottom: 0;
				}
			}

			.head,.rate{
				float: left;
				width:50%;
			}
			.rate{
				color: $color-lblue;
				text-align: right;
			}
		}
	}


	.zillow-url{
		text-align: center;	
		color: 	$color-blue;
		display: inline-block;
		width: 100%;
		border-top: 2px solid $color-lblue;
		padding-top: 20px;
		font-size: 0.875em;

		a{
			color: $color-blue;
		}		
		.powered{
			font-weight: 700;
			img{
				margin: 0 auto;
				max-width: 200px;
			}
		}
		@media (min-width: 992px){
			a{
				float: 	left;
				display: block;	
			}
			.powered{
				float: right;
				text-align: left;
				img{
					max-width: 150px;
				}
			}
		}

	}

	.cs-list{
		ul{
			margin: 0;
			padding-left: 0;
			list-style-type:none;
			& > li{
				margin-bottom: 30px;
			}
		}
		.top{
			margin-bottom: 5px;
			display: inline-block;
			width: 100%;
			.stars,.date{
				float: left;
				width: 50%;
			}
			.stars{
				color:#FDB71A;
			}
			.date{
				text-align: right;
			}
		}
		.cs-name{
			color: #B5B5B5;
			font-size: 1.143em;
			margin-bottom: 10px;
		}
		@media (min-width: 992px){
			.top{
				.date{
					font-size: 1.286em;
				}
			}
		}
	}
}

// @media screen{


// 	#agent-overview{
// 		.heading{
// 			color: $color-blue;
// 			text-transform: uppercase;
// 			line-height: 1em;
// 			border-bottom: 1px solid #D7D8D6;
// 			padding-bottom: 15px;
// 			margin-bottom: 50px;
// 		}

// 		.profile{
// 			margin-bottom: 50px;

// 			.info{
// 				color: $color-black;
// 				margin-bottom: 30px;
// 				text-align: center;
// 				a{
// 					color: $color-black;
// 				}
// 				.name{
// 					margin-bottom:10px;
// 				}
// 				.company{
// 					margin-bottom:20px;
// 					display: block;
// 				}
// 				.address{
// 					margin-bottom:20px;
// 					display: block;
// 				}
// 				.phone{

// 				}
// 			}
// 			.photo{
// 				max-width: 250px;
// 				margin: 0 auto 30px;
// 			}
// 			.rating{
// 				text-align:  center;
// 				color: #fe7926;
// 				margin-bottom: 30px;
// 				font-size: 1.5em;
// 			}
// 			.ctrls{
// 				margin-bottom: 30px;
// 			}

// 			@media (min-width: 992px){ 
// 				width: 100%;
// 				display: inline-block;
// 				.photo{
// 					margin: 0;
// 					padding-right: 30px;
// 					width: 100%;
// 					max-width: 260px;
// 				}
// 				.info{
// 					text-align: left;
// 					margin-bottom: 0;
// 				}
// 				.rating{
// 					text-align: right;
// 				}
// 				& > .item{
// 					float: left;
// 					text-align: center;
// 					width: 48%;
// 					text-align: left;
// 					&:first-child{
// 						width: 27%;
// 					}
// 					&:last-child{
// 						width: 25%;
// 						text-align: right;
// 					}
// 				}
// 			}
// 			@media (min-width: 1200px){ 
// 				& > .item{
// 					width: 53%;
// 					&:first-child{
// 						width: 27%;
// 					}
// 					&:last-child{
// 						width: 20%;
// 					}
// 				}
// 			}
// 		}

// 		.serviced{
// 			margin-bottom:50px;
// 			ul{
// 				padding: 0;
// 				margin: 0;
// 				li{
// 					display: inline-block;
// 					margin-right: 50px;
// 					color: $color-pink;
// 					&:last-child{
// 						margin-right: 50px;
// 					}
// 				}
// 			}
// 		}

// 		.rating-category{
// 			padding:30px;
// 			background:#F4F4F4;
// 			color: $color-blue;
// 			text-align: center;
// 			display: inline-block;
// 			width: 100%;
// 			margin-bottom: 50px;
// 			.list{
// 				margin-bottom: 10px;
// 				&:last-child{
// 					margin-bottom: 0;
// 				}
// 			}
// 			.title{
// 				font-size: 1.875em;
// 				text-transform: uppercase;
// 				margin-bottom: 10px;
// 				line-height: 1em;
// 			}
// 			.label{
// 				color: $color-blue;
// 				padding: 0;
// 				line-height: 1em;
// 				font-size: 1.5em;
// 				font-weight: 400;
// 			}
// 			.stars{
// 				color: #fe7926;
// 				font-size: 1.5em;
// 			}
// 			@media (min-width: 768px){ 
				
// 				.title{
// 					text-align: left;
// 				}
// 				.list{
// 					display: table;
// 					width: 100%;
// 					.label,.stars{
// 						display: table-cell;
// 						width: 50%;
// 					}
// 					.label{
// 						text-align: left;
// 					}
// 					.stars{
// 						text-align: right;
// 					}
// 				}
// 			}
// 			@media (min-width: 992px){ 
// 				padding: 30px 0;
// 				& > .item{
// 					float: left;
// 					width: 50%;
// 					padding: 0 30px;
// 				}
// 			}
// 		}

// 		.textarea{
// 			margin-bottom: 50px;

// 			@media (min-width: 992px){ 
// 				padding: 30px;
// 			}


// 		}
// 	}


// 	.comments-section{

// 		.cs-write{
// 			margin-bottom: 50px;
// 			.btn{
// 				background:$color-white;
// 				border: 1px solid #D7D8D6;
// 				color: #D7D8D6;
// 				@media (min-width: 992px){ 
// 					font-size: 1.2em;
// 				}
// 			}
// 		}

// 		.cs-list{
// 			& > ul,
// 			& > ul li > ul{
// 				padding: 0;
// 				margin-bottom: 0;
// 				list-style-type: none;
// 			}
// 			& > ul li > ul{
// 				padding-left: 50px;
// 			}
// 			.cs-item{
// 				margin-bottom: 30px;
// 			}
// 			.cs-content{
// 				font-size: 1.625em;
// 				color:$color-blue;
// 			}
// 		}
// 		.cs-title{
// 			position: relative;
// 			padding-right: 100px;
// 			.name{
// 				color: $color-blue;
// 				font-weight: 700;
// 				line-height: 1em;
// 			}
// 			.date{
// 				color: #AFB1B2;
// 				font-size:0.875em;
// 			}
// 			.stars{
// 				position: absolute;
// 				right: 0;
// 				top: 0;
// 				color: #fe7926;
// 				font-size: 1em;
// 			}

// 		}
// 		.cs-info{
// 			font-size:0.625em;
// 			color: #AFB1B2;
// 			margin-bottom: 20px;
// 		}
// 		.cs-more{
// 			margin-top: 80px;
// 		}
// 		@media (min-width: 992px){ 
// 			max-width: 65%;
// 			margin: 0 auto;
// 			.cs-list{
// 				padding: 0 50px;
// 			}
// 		}
// 	}
// }