@media screen{

	body.cs-register,
	body.agent-register{
		
		
		#cs-register,
		#agent-register{
			background-repeat:no-repeat;
			background-position: center center;
			background-size: cover;
		}

		#page-wrapper{
			background: url('images/banner-agent-registration.jpg') no-repeat center center;
			background-size: cover;

			#page-content{
				padding: 40px 0;
			}

			.panel{
				margin: 0 auto;
				padding: 30px 30px 0;
				max-width: 830px;
				background: rgba(255,255,255,0.9);
				border-radius: 15px;
				text-align: center;
				.panel-body{
					padding: 0;
				}
			}
			.panel-notice{
				margin-top: 30px;
				font-size: 	13px;
				color: 	#353535;
				padding-bottom: 10px;
				.strong{
					font-weight: 700;
				}
				.blue{
					color: 	#1D9CFC;
					font-weight: 700;
				}
				.black{
					color: 	#353535;	
				}
			}
			.form-heading{
				font-size: 24px;
				color: #0C4672;
				text-align: center;
				font-weight: 700;
				max-width: 520px;
				padding-bottom: 10px;
				border-bottom: 1px solid #D7D8D6;
				margin:0 auto 30px;
			}
			.checkbox-form {
				margin: 0;
				width: 100%;
			}
			.form-step-wrapper{
				max-width: 465px;
				margin: 0 auto;
				text-align: left;
				.form-group{
					margin-bottom: 10px;
				}
				.form-control{
					padding: 10px;
					font-size: 0.857em;
				}
				&.radioboxes{
					max-width: 320px;
					text-align: left;
					display: 	inline-block;
					white-space: nowrap;	
					&.wider{
						max-width: 550px;
						min-width: 400px;
					}
					.checkbox{
						margin: 0 auto;
						font-size: 20px;
						color: #0C4672;

						.chk{
							width: 13%;
							margin: 0 10px 0 0;
							text-align: left;
							background-position: left center;
							
							min-width: 25px;
    						background-size: 21px;
						}
						.text{
							width: 80%;
							text-overflow: ellipsis;
							overflow: hidden;
							input{
								font-size:12px;
							}
						}
					}
				}
				.inline-form{
					.form-control{
						display: inline-block;
						width: 200px;
						margin-left: 5px;
					}
				}
			}
			.form-ctrl{
				max-width: 465px;
				margin: 0 auto;
				a:first-child{
					margin-bottom: 10px;
				}
			}
			.btn{
				border-radius: 30px;
				overflow: hidden;	
				display: block;		
			}
		}

		@media (min-width: 992px){ 
				
			#page-wrapper{
			//	min-height: 100vh;
			//	height: 100vh;
				display: table;
				width: 100%;
				padding: 0;
				.panel{
					padding: 60px 60px 0;
				}
				#page-content{
					padding: 80px 0;
					display: table-cell;
					vertical-align: middle;
				}
				.btn{
					display: inline-block;
					padding: 15px 60px;
				}
				.form-heading{
					font-size: 30px;
				}
				.form-step-wrapper{
					.form-group{
						margin-bottom: 20px;
					}

					.form-control{
						padding: 15px;
					}
					&.radioboxes{
						.checkbox{
							font-size: 25px;
							.chk{
								width: 15%;
								background-size: auto;
								min-width: 30px;
							}
							.text{
								width: 80%;
								input{
									font-size:16px;
								}
							}
						}

					}
				}
				.form-ctrl{
					display: inline-block;
					text-align: center;
					width: 100%;
					margin-top:30px;
					max-width: 380px;
					.form-step-continue + .form-step-back{
						float: left;
						
					}
					.form-step-back ~ .form-step-continue {
						margin-left: 15px;
						float: right;
					}

	/*				.form-step-back{
						float: left;
						display: inline-block;
					}*/
				}

		
			}
		/*	#header {
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    z-index: 10;
			}
			#footer{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0 
			}
			;*/
			

		}
	}

}