@media screen{
/////////// NEW

	#ab-banner-area{
		  background-repeat:no-repeat;
		  background-position: center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: $color-white;
		text-align: center;
		padding: 50px 0;
		.title{
			font-weight: 700;
			line-height: 1.111em;
			margin-bottom: 40px;
		}
		.caption{
			display: inline-block;
			background: $color-blue;
			padding: 20px;
			text-align: center;
			max-width: 400px;
			.image{
				img{
					margin: 0 auto 10px;
					max-width: 50px;
				}
			}
			.text{
				font-size: 0.8em;
				font-style: italic;
			}
		}
		@media (min-width: 992px){ 
			text-align: left;
			padding: 100px 0;
			.title{
				font-size: 3.5em;
				span{
					display: block;
				}
			}
			.caption{
				max-width: 50%;
				.image{
					img{
						margin: 0 15px 0 0;
						max-width: 50px;
						float: left;
					}
				}	
				.text{
					text-align: left;
				}
			}

		}
		@media (min-width: 1200px){ 
			.title{
				font-size: 4em;
			}
			.caption{
				.text{
					padding: 7px 0;
				}
			}
		}
	}

	#ab-content-area{
		padding: 50px 0;

		.image{
			position: relative;
			z-index: 10;
			img{
				margin: 0 auto 30px;
				max-width: 250px;
			}
		}
		.entry-content{
			position: relative;
			z-index: 9;
			&:after{
				content: '';
				background-image:url('images/ab-content-quote.png');
				background-repeat: no-repeat;
				height: 250px;
				width: 250px;
				position: absolute;
				z-index: 0;
				top: -95px;
				left: -35px;
				background-size: 170px;
			}
			p{
				position: relative;
				z-index: 2;
			}
		}

		@media (min-width: 992px){ 

			padding: 150px 0 80px;

			.image{
				padding-right: 30px;
				img{
					margin: 0;
					max-width: 100%;
				}
			}
		}
	}
	#ab-hero-area{
		text-align: center;
		padding: 50px 0;
		background:#f9f9f9;
		h2{
			color: $color-blue;
			font-size: 1.1em;
			margin: 0 0 10px;
		}
		.btn{
			margin-top:30px;
			border-radius: 30px;
			text-transform: none;
			font-weight: 500;
		}
		@media (min-width: 992px){ 
			padding: 80px 0;
			h2{
				font-size: 1.5em;
			}
			.btn{
				font-size: 1.3em;
			}
		}
	}

	#ab-links-area{
		padding: 50px 0;
		text-align: center;
		.image{
			height: 170px;
			background-size: cover;
			background-position: center;
		}
		.link-item{
			text-decoration: none;
			display: block;
			max-width: 450px;
			margin: 0 auto 30px;
		}
		h2{
			margin: 0;
			font-size: 1em;
			padding: 20px;
			color: $color-white;
			&.link-blue{
				background:$color-blue;
			}
			&.link-lblue{
				background:$color-lblue;
			}
			&.link-pink{
				background:$color-pink;
			}
		}
		@media (min-width: 992px){ 
			padding: 80px 0;
			.link-item{
				margin-bottom: 0;
			}
			h2{
				font-size: 1.4em;
			}
		}
	}
	#ab-call-area{
		padding: 50px 0;
		background:$color-pink;
		color: $color-white;
		text-align: center;
		line-height: 1em;
		h2{
			margin: 0;
			font-size: 1.5em;
		}
		@media (min-width: 992px){ 
		
			h2{
				font-size: 2.143em;
			}
		}
	}



////////////OLD


	body.page-about{

		#about-banner-area{

			padding: 80px 0;
			background-repeat:  no-repeat;
			background-position:  bottom center; 
			background-size: cover;
			h1{
				font-size: 24px;
				margin-bottom: 10px;
				font-weight: 700;
				color: #0C4672;
				text-transform: uppercase;
				span{
					display: inline-block;
					vertical-align: middle;
				}
				span:nth-child(2){
					font-size: 18px;
				}
			}
			p{
				font-size: 16px;
				margin: 0;
				font-weight: 300;
				color: #0C4672;
			}
			@media (min-width: 992px){ 
				padding: 200px 0;
				h1{
					font-size: 50px;	
				}
				p{
					font-size: 30px;
				}
			}
		
		}

		#about-content{
			color: #0C4672;
			.content-heading{
				margin: 0;
				font-size: 36px;
			}
		}

		#about-qlinks{
			.link-item{
				.image{
					margin-bottom: 20px;
				}
				h3{
					color: #0C4672;
					margin-bottom: 0;
					a{
						color: #0C4672;
					}
				}
				p{
					color: #0C4672;
				}
			}
		}
	}
}