@media screen{


	#contact-content{
		color: #0C4672;

		.content-heading{
			margin: 0 0 10px;
			font-size: 36px;
		}
		.heading{
			margin-bottom: 50px;

			@media (min-width: 992px){ 
				margin-bottom: 80px;
			}
		}
		.google-map{
			margin-bottom: 30px;
		}
	}
}