@media screen{
	.process-template{
		text-align: center;
		.img-responsive{
			display:block;
			margin: 0 auto;
			&:first-child{
				margin-bottom: 30px;
			}
			&:nth-child(3){
				margin-bottom: 70px;
			}
		}
	}
}