@media screen{

	#success-content{
		.heading{
			font-size: 30px;
			margin-bottom: 10px;
			text-transform: uppercase;

				color: #565656;
		}
		.heading-sub{
			font-size: 18px;
			font-weight: 300;
			margin-bottom: 40px;
		}
		.image{
			position: relative;
			width: 200px;
			height: 200px;
			margin: 0 auto 30px;
			&:before{
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background: #e3e3e3;
				border-radius: 50%;
			}
			img{
				position: absolute;
				z-index: 2;
				top: 50%;
				width: 190px;
				left: 50%;
				margin-left: -95px;
				margin-top: -115px;
			}
		}
		.content{
			max-width: 450px;
			margin: 0 auto;
		}
		@media (min-width: 992px){ 
			.heading{
				font-size: 70px;
				color: #565656;
				margin-bottom: 0;
			}
			.image {
			    width: 350px;
			    height: 350px;
			    img{
			    	width: 320px;
					margin-left: -160px;
					margin-top: -195px;
			    }
			}
			.content {
			    max-width: 550px;
			}
		}
	}
}