@media screen{

	body.home{
		#header{
			z-index: 2;
			@media (min-width: 992px){ 
				background-color: transparent;
				
				position: absolute;
				left: 0;
				right: 0;

			}
		}
		#page-title{
			display: none;
		}
	}

	#home-banner-area{
		background-repeat:no-repeat;
		background-position: center center; 
		background-size: cover;
		padding: 80px 0; 
		text-align: center;
		color: $color-white;
		position: 	relative;	
		&:after{
			content: '';
			background: rgba(0,0,0,0.45);
			position: 	absolute;
			left:0;
			right: 	0;
			bottom: 0;
			top: 0;
			z-index: 	1;
		}
		.container{
			position: 	relative;	
			z-index: 	2;
		}
		.banner-title{
			font-size: 24px;
			margin-bottom: 30px;
		}
		.banner-sub{
			font-size: 	0.857em;
			margin-bottom: 0;
			font-weight: 400;
		}
		.form{
			display: block;	
			margin-bottom: 30px;
			.form-group{
				max-width: 600px;
				margin: 0 auto;
			}
			.form-control{
				text-align: center;
				background: #fff;
				border: 1px solid #878A8F;
				color: #878A8F;
    			padding-top: 14px;
				padding-bottom: 14px;
				line-height: 16px;
				height: 46px;
				margin-bottom: 15px;
				text-transform: uppercase;
			}
			.btn{
				max-width: 300px;
				font-weight: 700;
				width: 100%;
				border-radius:50px;
				&:active, &:focus{
					background: $color-white;
					color: $color-pink;
				} 
				&:hover{
					background: $color-pink;
					color: $color-white;
				} 

			}
		}
		@media (min-width: 992px){ 
			padding: 300px 0 200px;

			.banner-title{
				font-size: 36px;
			}
			.banner-sub{
				font-size: 1.2em;
			}
			
		}
		@media (min-width: 1200px){ 
			.banner-title{
				font-size: 50px;
			}
			.form{
				display: block;	
				margin-bottom: 50px;
			}
			.banner-sub{
				font-size: 1.4em;
			}
		}
	}
}


@media screen{
	#home-about,
	#home-about-again{
		padding: 50px 0;
		.section-heading{
			color: $color-lblue;
			margin: 0;
			font-size: 18px;
		}
		.section-title{
			color: $color-lblue;
			font-size: 30px;
		}
		.logos-wrapper{
			border-bottom: 1px solid #000;
			text-align: center;
			margin-bottom: 50px;
			padding: 0 0 30px;
			margin-top: -20px;
			.item{
				display: inline-block;
				max-width: 80px;
				vertical-align: middle;
				padding: 0 15px;
			}
			@media (min-width: 992px){ 
				margin-bottom: 80px;
				margin-top: -30px;
				.item{
					display: inline-block;
					max-width: none;
 				    padding: 0 30px;
				}
			}
		}
		.widget{
			.widget-title{
				font-size: 20px;
				background: $color-pink;
				padding: 18px 30px;
				line-height: 1em;
				text-align: center;
				color: $color-white;
				margin:0;
			}
			.form{
				background: #F9F9F9;
				padding: 30px;
				text-align: center;
				.form-group{
					margin-bottom: 20px;
				}
				.form-control{
					background: transparent;
					border: 0;
					border-bottom: 1px solid #919191;
					padding-left: 0;
					padding-right: 0;
				}
				.form-ctrls{
					margin-top: 30px;
				}
			}
		}
		.hiw-list{
			.item{
				display: block;
				width: 100%;
				text-align: left;
				max-width: 400px;
				margin: 0 auto 20px;
				&.divider{
					display: none;
				}
				&:last-child{
					margin-bottom: 0;
				}
				@media (min-width: 992px){ 
					width: auto;
					display: inline-block;
					margin: 0;
					vertical-align: top;
					&.divider{
						display: inline-block;
						background: $color-lblue;
						height: 2px;
						width: 55px;
						margin-top: 135px;
						margin: 158px 23px;

					}
				}
				@media (min-width: 1200px){
					&.divider{
						width: 130px;
					}	
				}
			}
			.item-wrapper{
				display: table;
				width: 100%;
				.icon{
					display: table-cell;
					padding-right: 20px;
					margin-bottom: 15px;
					width: 100px;
					img{
						width: 80px;
					}
				}
				.title-wrapper{
					display: table-cell;
					vertical-align: middle;
					margin-bottom: 15px;
				}
				.title{
					font-weight: 600;
					font-size: 22px;
					color: #606060;
				}
				.desc{
					font-size: 1em;
					color: #919191;
				}
			}
			@media (min-width: 992px){ 
				text-align: center;
				.item-wrapper{
					max-width: 220px;
					display: block;
					text-align: center;
					.icon{
						display: block;;
						padding: 0;
						width: 100%;
						img{
							width: 220px;
						}
					}
					.title-wrapper{
						display: block;
					}
					.title{
						font-size: 25px;
					}
				}
			}	
		}
		.global-divider{
			margin: 50px 0;		
			@media (min-width: 992px){ 
				margin: 100px 0;
			}	
		}
		@media (min-width: 992px){ 
			padding: 100px 0;
			.section-heading{
				font-size: 25px;
			}
			.section-title{
				font-size: 36px;
			}
			.widget{

				.form{
					padding: 40px;
				}

			}
		}
		@media (min-width: 1200px){ 
			.section-title{
				font-size: 50px;
			}
		}
	}

	#home-about{
		@media (min-width: 992px){ 
			padding: 70px 0;
		}	
	}

	#home-about-again{

		.form{
			.btn{
				border-radius: 30px;
			}
		}
	}



}



@media screen{

	#home-howitworks{
		background: #F9F9F9;
		padding: 50px 0;
		@media (min-width: 992px){ 
			padding: 100px 0;
		}

		
		


		
	}


	.g-recaptcha {
		display: inline-block;
	  transform-origin: left top;
	  -webkit-transform-origin: left top;
	}

}
