@media screen{

	body.customer{
		#customer-view{
			.table {
				thead {
					th{
						font-size: 1em;
						padding:20px 10px;
						&:first-child,
						&:last-child{
							padding: 20px;
						}
					}
				}
				tbody {
					td{
						font-size: 0.857em;
						padding:20px 10px;
						&:first-child,
						&:last-child{
							padding: 20px;
						}
					}
				}
			}
		}
	}

}