@media screen{

	.pac-container {
		z-index: 1051;
	}
	body.customer{
		.customer-dashboard{
			padding: 50px 0;

			@media (min-width: 992px){ 
				padding: 80px 0 60px;
			}
		}
		.default-form{
			.form-group{
				display: table;
				width: 100%;
				.control-label{
					display: table-cell;
					width: 100px;
					color: #878A8F;
					vertical-align: middle;
					@media (min-width: 992px){ 
						width: 120px;
					}
				}
				.control-form{
					vertical-align: middle;
					display: table-cell;
				}
			}
			.form-controls {
			    margin: 0;
			    text-align: right;
			}

		}
	}

	.modal-edit-list {
		h4.control-label {
			margin-bottom: 10px;
		}

		.checkbox.round {
			.chk {
				width: 20px;
				height: 20px;
			}
		}

		.form-item {
			margin-bottom: 15px;
			
			& + .form-item {
				border-top: 1px dashed #e5e5e5;
				padding-top: 10px;
			}
		}
	}

}

@media screen{

	body.customer{
		.customer-menu{
			background: #F8F8F8;
			padding: 50px 0;

			.csmenu-list{
				.item{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				.item-wrapper{
					background: #2B2E33;
					color: $color-white;
					display: block;
					text-align: center;
					
					text-decoration: none;
					overflow: hidden;
					position: relative;
					&:hover,
					&:focus,
					&:active{
						background: #17888E;
					}
				}
				.bg{
					position: absolute;
					top:0;
					left:0;
					right: 0;
					bottom: 0;
					z-index: 1;
					background-repeat:no-repeat;
					background-position: center center; 
					background-size: cover;
					opacity: 0.4;
				}
				.content{
					position: relative;
					z-index: 2;
					padding: 30px;
				}
				.icon{
					width: 100%;
					height: 70px;
					background-size: auto 100%;
					text-align: center;
					display: inline-block;
					margin: 30px auto 20px;
					background-repeat: no-repeat;
					background-position: center center;
				}
				.title{
					margin: 0;
					font-size: 20px;
				}
			}
			@media (min-width: 992px){ 
				padding: 80px 0;
				.csmenu-wrapper{
					margin: 0 -15px;
				}
				.csmenu-list{
					.item{
						display: inline-block;
						width: 33.33%;
						padding: 0 15px;
						margin-bottom: 0;
						vertical-align: top;
					}
					.content{

						padding: 40px;
					}
				}
			}
		}
	}
}