@media screnn{

	body.customer-profile{
		#page-title{
			background: #F7F7F7;
		}
	}
}

@media screen{

	body.customer-profile{

		.btn.create-list {
			float: right;
			position: relative;
			top: -36px;
			text-transform: none;
			padding: 10px 15px;
		}

		#customer-profile{
			.profile-details{	
				.profile-detail{
					display: block;
					text-align: center;
					color: #878A8F;
					font-size: 16px;
					border-bottom: 1px solid #B2B2B2;
					padding: 0 0 10px;
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
					.title{
					}
					.content{
					}
				}
			}
			.profile-settings{
				background: #F7F7F7;	
			}
			.details-wrapper{
				padding: 30px;
			}
			.details-list{
				.detail-item{
					width: 	100%;
					display: 	inline-block;
					margin-bottom: 30px;
					color: #878A8F;
					vertical-align: top;

					.detail-label{
						float: 	left;
						width: 	30%;
						text-align: left;
					}
					.detail-content{
						width: 	70%;
						float: 	left;
						text-align: right;	
						.checkbox-form{
							margin: 0 0 0 20px;
							.checkbox{
								margin: 0;
								.chk{
									width: 20px;
									height: 20px;
									@media (min-width: 992px){ 
										width: 25px;
										height: 25px;	
									}
								}
							}
						}
					}

				}	

			}
			@media (min-width: 768px){ 
				.details-wrapper{
					margin: 0 -15px;
				}
				.details-list{
					display: table;
					width: 100%;
					.detail-col{
						width: 33.33%;
						display:table-cell;
						padding: 0 15px;
						& + .detail-col{
							border-left: 1px solid #878A8F;
						}
					}
				}
				.profile-details{	
					.profile-detail{
						display: table;
						color: #878A8F;
						text-align: left;
						width: 100%;
						.checkbox{
							margin: 0;
						}
						.title{
							width: 100px;
							display:table-cell;
							padding: 10px;
							vertical-align: middle;
						}
						.content{
							display: table-cell;
							padding: 0;
							vertical-align: middle;
						}
					}
				}
			}
			@media (min-width: 992px){
				.details-list{
					.detail-col{
						width: 33.33%;
					}
				}
			} 
			@media (min-width: 1200px){
				.details-wrapper{
					margin: 0 -30px;
				} 
				.details-list{
					.detail-col{
						padding: 0 30px;
					}
					.detail-item{
						.detail-label{
							width: 	45%;
						}
						.detail-content{
							width: 	55%;
						}
					}
				}
				.profile-details{	
					.profile-detail{
						font-size: 20px;
						.title{
							width:130px;
							padding: 10px 20px;
						}
					}
				}
			}
		}
	}
}


@media screen{

	body.customer-profile{

		#customer-profile{
			.tab-controls{
				a{
					color: $color-white;
					border: none;
					border-left:1px solid #F7F7F7;
					border-right:1px solid #F7F7F7;
					border-radius: 0;
				}
				.active{
					position: 	relative;	
					a.theme-pink{
						background:#FF6489;
					}
					a.theme-blue{
						background:#27D9E2;
					}
					&:after{
						content: '';
						display: block;
						width: 0; 
						height: 0; 
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-bottom: 7px solid #fff;
						position: absolute;
						bottom: 0;
						left: 50%;

					}
				}
				a.theme-pink{
					background: $color-pink;
					&:hover, &:focus, &:active{
						background:#FF6489;
					}
				}
				a.theme-blue{
					background: $color-lblue;	
					&:hover, &:focus, &:active{
						background:#27D9E2;
					}
				}
				@media (min-width: 992px){ 
					max-width: 50%;
				}
			}
			.tab-content{
				background: $color-white;
				border:1px solid #B2B2B2;
				border-top:none;
				.table-responsive,table{
					margin: 0;
					th{
						font-size: 1em;
						padding: 15px;
					}
					td{
						font-size: 1em;
						padding: 15px;
					}
					@media (min-width: 992px){ 
						th{
							padding: 20px;
						}
						td{
							padding: 20px;
						}
					}
				}
			}
			.default-content{
				padding: 15px;
				color: #878A8F;
				@media (min-width: 992px){ 
					padding: 30px 100px;	
				}
			}
			.social-contents{
				.content{
					display: table;
					width: 100%;
					.title{
						display: table-cell;
						vertical-align: middle;	
						padding: 	15px 15px 15px 0;
					}
					.desc{
						display: table-cell;
						vertical-align: middle;	
						text-align: right;	
					}
					.image{
						width: 50px;
						display: inline-block;
					}
				}
				@media (min-width: 992px){ 
					.content-wrapper{
						max-width: 360px;
						margin: 0 auto;
						font-size: 0.857em;
					}
					.content{
						.image{
							width: 100px;
						}
					}
				}
			}
			.qa-contents{
				.content{
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
					.title{
						font-size: 1em;
						margin-bottom: 5px;
					}
					.desc{
						border: 1px solid $color-lblue;
						padding: 10px 15px;
						resize:none;
						width: 100%;
						min-height: 150px;
						font-size: 	0.857em;
						color: #878A8F;
						border-radius: 4px;
						&:disabled{
							background: transparent;
						}
					}
				}
				@media (min-width: 992px){
					.content{
						.desc{
							padding: 15px 20px;
						}
					}
				}
			}
		}
	}

}