@font-face {
    font-family:'Work Sans'; 
    src: url('fonts/Work Sans Light.eot');
	src: url('fonts/Work Sans Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans Light.woff2') format('woff2'),
		url('fonts/Work Sans Light.woff') format('woff'),
		url('fonts/Work Sans Light.ttf') format('truetype'),
		url('fonts/Work Sans Light.otf') format('opentype'),
		url('fonts/Work Sans Light.svg#Work Sans Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans Thin.eot');
	src: url('fonts/Work Sans Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans Thin.woff2') format('woff2'),
		url('fonts/Work Sans Thin.woff') format('woff'),
		url('fonts/Work Sans Thin.ttf') format('truetype'),
		url('fonts/Work Sans Thin.otf') format('opentype'),
		url('fonts/Work Sans Thin.svg#Work Sans Thin') format('svg');
    font-weight: 260;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans ExtraLight.eot');
	src: url('fonts/Work Sans ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans ExtraLight.woff2') format('woff2'),
		url('fonts/Work Sans ExtraLight.woff') format('woff'),
		url('fonts/Work Sans ExtraLight.ttf') format('truetype'),
		url('fonts/Work Sans ExtraLight.otf') format('opentype'),
		url('fonts/Work Sans ExtraLight.svg#Work Sans ExtraLight') format('svg');
    font-weight: 280;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans Medium.eot');
	src: url('fonts/Work Sans Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans Medium.woff2') format('woff2'),
		url('fonts/Work Sans Medium.woff') format('woff'),
		url('fonts/Work Sans Medium.ttf') format('truetype'),
		url('fonts/Work Sans Medium.otf') format('opentype'),
		url('fonts/Work Sans Medium.svg#Work Sans Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */

@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans.eot');
	src: url('fonts/Work Sans.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans.woff2') format('woff2'),
		url('fonts/Work Sans.woff') format('woff'),
		url('fonts/Work Sans.ttf') format('truetype'),
		url('fonts/Work Sans.otf') format('opentype'),
		url('fonts/Work Sans.svg#Work Sans') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}


@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans SemiBold.eot');
	src: url('fonts/Work Sans SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans SemiBold.woff2') format('woff2'),
		url('fonts/Work Sans SemiBold.woff') format('woff'),
		url('fonts/Work Sans SemiBold.ttf') format('truetype'),
		url('fonts/Work Sans SemiBold.otf') format('opentype'),
		url('fonts/Work Sans SemiBold.svg#Work Sans SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans Bold.eot');
	src: url('fonts/Work Sans Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans Bold.woff2') format('woff2'),
		url('fonts/Work Sans Bold.woff') format('woff'),
		url('fonts/Work Sans Bold.ttf') format('truetype'),
		url('fonts/Work Sans Bold.otf') format('opentype'),
		url('fonts/Work Sans Bold.svg#Work Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */

@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans ExtraBold.eot');
	src: url('fonts/Work Sans ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans ExtraBold.woff2') format('woff2'),
		url('fonts/Work Sans ExtraBold.woff') format('woff'),
		url('fonts/Work Sans ExtraBold.ttf') format('truetype'),
		url('fonts/Work Sans ExtraBold.otf') format('opentype'),
		url('fonts/Work Sans ExtraBold.svg#Work Sans ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans';
    src: url('fonts/Work Sans Black.eot');
	src: url('fonts/Work Sans Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/Work Sans Black.woff2') format('woff2'),
		url('fonts/Work Sans Black.woff') format('woff'),
		url('fonts/Work Sans Black.ttf') format('truetype'),
		url('fonts/Work Sans Black.otf') format('opentype'),
		url('fonts/Work Sans Black.svg#Work Sans Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}