@media screen {
  html {
    min-height: 100%;
  }
  body {
    font-family: 'Work Sans';
    font-weight: 400;
    overflow-x: hidden;
    font-size: 14px;
    min-height: 100%;
    min-width: 320px;
    background: $color-white;
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
  body.pagetitle-off {
    #page-title {
      display: none;
    }
  }
  a,
  .btn {
    @include transition(all 0.7s ease);
    outline: none;
  }
  .btn {
    color: $color-white;
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 1em;
    padding: 15px 40px;
    line-height: 1em;
    text-transform: uppercase;
    white-space: normal;
    overflow: hidden;
    &.btn-block{
      padding-left: 10px;
      padding-right: 10px;
    }
    &.btn-round{
     // border-radius: 1.5em;
      border-radius: 4px;
    }
    &.btn-round-full{
       border-radius: 150px;
    }
    &:hover,
    &:focus,
    &:active {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }
    &.btn-lblue {
      background: $color-lblue;
      
      &:hover{
        background: $color-white;
        color: $color-blue;
      }
      &:focus,
      &:active {
        background: $color-blue;
        color: $color-white;
      }
    }
    &.btn-pink {
      background: $color-pink;
      &:hover{
        background: $color-pink;
        color: $color-white;
      }
      &:focus,
      &:active {
        background: $color-white;
        color: $color-pink;
      }
    }
     &.btn-red {
      background:#c9302c;
      &:hover,
      &:focus,
      &:active {
        background: $color-white;
        color: #c9302c;
      }
    }
    &.btn-yellow{
      border:1px solid #FDB71A;
      background:transparent;
      color: $color-blue;
      &:before {
        background: #FDB71A;
      }
      &:hover,
      &:focus,
      &:active {
        color: $color-white;
      }
    }
    &.btn-blue {
      background: $color-blue;

      &:hover,
      &:focus,
      &:active {
        background: $color-lblue;
        color: $color-white;
      }
      &.invert {
        background: transparent;
        border: 1px solid $color-blue;
        color: $color-blue;
        &:before {
          background: $color-blue;
        }
        &:hover,
        &:focus,
        &:active {
          color: $color-white;
        }
      }
    }
  }
  .form-ctrl {
    margin-top: 30px;
  }

  .panel {
    position: relative;
  }

  .form-control {
    padding: 15px 15px;
    height: auto;
    line-height: 1em;
    font-size: 1em;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
  }
  .default-section {
    padding: 50px 0;
    @media (min-width: 992px) {
      padding: 80px 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 25px;
  }
  p {
    margin: 0 0 25px;
    font-size: 1em;
  }
  .align-center {
    margin: 0 auto;
  }
  .align-left {
    float: left;
  }
  .align-right {
    float: right;
  }
  .global-heading {
    margin-bottom: 40px;
    text-align: center;
    .icon {
      margin: 0 0 10px;
      img {
        width: 30px;
      }
    }
    .title {
      font-weight: 600;
      font-size: 30px;
      color: #606060;
      line-height: 1em;
      margin: 0;
    }
    .desc {
      font-size: 20px;
      color: #969696;
      line-height: 1em;
      margin: 5px 0 0;
    }
  }
  .global-divider {
    margin: 25px 0;
    border-color: #919191;
  }
  .main-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    background: rgba(255, 255, 255, 0.9);
    @include transition(all 0.7s ease);
  }
}

@media screen {
  #page-title {
    border-bottom: 3px solid $color-lblue;
    padding: 30px 0;
    text-align: center;
    h1 {
      margin: 0;
      font-size: 28px;
      line-height: 1em;
      color: #353535;
    }
    .controls {
      margin: 20px -10px 0;
      .btn {
        padding: 13px 20px;
        font-size: 0.857em;
        margin: 0 10px;
      }
    }
    @media (min-width: 992px) {
      padding: 40px 0;
      text-align: left;
      .controls {
        float: right;
        margin-top: 0;
        .btn {
          padding: 13px 40px;
        }
      }
      h1 {
        font-size: 36px;
        float: left;
      }
    }
  }
  .wrapper-table {
    .inner {
      display: table;
      width: 100%;
      text-align: left;
      & > .item {
        display: table-cell;
        vertical-align: middle;
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  #header {
    background-color: $color-blue;
    padding: 20px 0;
    a.logo {
      display: block;
      width: 100%;
      max-width: 200px;
      min-width: 100px;
      img {
        width: 100%;
      }
    }
    .page-nav {
      display: none;
    }
    .mobile-ctrl {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 10px 5px;
      text-align: left;
      position: relative;
      line-height: 0;
      span {
        display: inline-block;
        height: 4px;
        width: 100%;
        margin: 3px 0;
        background: $color-white;
        border-radius: 4px;
        @include transition(all 0.7s ease);
        &:nth-child(2) {
          width: 60%;
        }
      }
      &:hover,
      &:focus,
      &:active {
        span:nth-child(2) {
          width: 100%;
        }
      }
      &.active {
        span:first-child {
          @include transform(scale(0.8) rotate(45deg) translateX(0px));
          position: absolute;
          top: 20px;
          left: 0px;
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:last-child {
          @include transform(scale(0.8) rotate(135deg) translateX(0px));
          position: absolute;
          right: 0;
          top: 19px;
        }
      }
    }
    .page-nav {
      line-height: 1em;
      vertical-align: middle;
      & > ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        li {
          font-size: 18px;
          padding: 0;
          position: relative;
          vertical-align: middle;
          &:last-child > .dropdown-menu{
              right: 0;
              left: auto;
          }
          &:hover > .dropdown-menu {
            display: block;
          }
          .name{
            display:  inline-block;
            vertical-align:   middle; 
          }
          .arrow{
            display:  inline-block;
            vertical-align:   middle; 
            margin-left:10px; 
            line-height: 1em;
            margin-top: 2px;
          }
        }
      }
      a {
        display: block;
        color: #fff;
        padding: 45px 15px;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
          color: $color-lblue;
        }
        &.btn {
          color: #fff;
          border-radius: 30px;
          margin-left: 10px;
          padding: 13px 30px;
          &:hover,
          &:focus,
          &:active {
            color: $color-white;
          }
        }
        &.user-profile{
          padding: 34px 15px;
          & + .dropdown-menu{
            right: 0;
            left: auto;
            a {
              text-align: right;
            }
          }
        }
      }

      .dropdown-menu {
        display: none;
        margin: 0;
        padding: 0;
        background: $color-lblue;
        border-radius: 0;
        border: none;
        a {
          padding: 15px 20px;
          font-size: 15px;
        }
      }
    }
    .user-profile{
      .user-avatar{
        max-width: 35px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        border-radius:50%;
        border: 1px solid #fff;
        overflow: hidden;
        img{
        }
      }
      .user-name{
        display: inline-block;
        vertical-align: middle;
      }
    }
    @media (min-width: 992px) {
      padding: 0;
      a.logo {
        max-width: 250px;
      }
      .page-nav {
        display: inline-block;
      }
      .mobile-ctrl {
        display: none;
      }
    }
  }
}

@media screen {
  #footer {
    left: 0;
    right: 0;
    bottom: 0;
    .contact {
      background: $color-pink;
      color: $color-white;
      line-height: 1em;
      padding: 40px 0;
      text-align: center;
      h2 {
        margin: 0;
        font-size: 20px;
      }
      a {
        color: $color-white;
      }
    }
    .bottom {
      padding: 30px 0;
      background: $color-lblue;
      text-align: center;
      color: $color-white;
      a {
        color: $color-white;
      }
      .company-icon {
        margin-bottom: 15px;
        img {
          width: 40px;
        }
      }
      .social-list {
        text-align: center;
        margin-bottom: 5px;
        .item {
          display: inline-block;
        }
        a {
          font-size: 1em;
          display: block;
          padding: 10px;
        }
      }
      .menu-list {
        margin-bottom: 15px;
        .item {
          display: inline-block;
          margin: 0 10px 10px;
        }
      }
      @media (min-width: 992px) {
        .copyright {
          font-size: 12px;
          padding-top: 15px;
          text-align: left;
        }
        .company-icon {
          margin-bottom: 0;
          img {
            width: 50px;
          }
        }
        .social-list {
          text-align: right;
          margin: -10px 0 0;
          a {
            line-height: 1em;
          }
        }
        .menu-list {
          text-align: right;
          margin-bottom: 0;
          .item {
            margin: 0 5px 0;
          }
          a {
            font-size: 10px;
          }
        }
      }
      @media (min-width: 1200px) {
        .copyright {
          font-size: 14px;
          padding-top: 21px;
        }
        .company-icon {
          img {
            width: 60px;
          }
        }
        .social-list {
          margin: 0px;
          a {
            line-height: 1em;
            font-size: 18px;
          }
        }
        .menu-list {
          text-align: right;
          margin-bottom: 0;
          .item {
            margin: 0 6px 0;
          }
          a {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media screen {
  /* DEFAULT TABLE */
  .default-table-controls {
    margin-bottom: 50px;
  }
  .default-table {
    .table {
      thead th {
        font-size: 20px;
        font-weight: 500;
        color: #474747;
        border-bottom: 2px solid #B2B2B2;
        vertical-align: middle;
      }
      tbody {
        tr:nth-child(even) {
          background: #F4F4F4;
        }
        td {
          font-size: 16px;
          color: #878A8F;
          vertical-align: middle;
        }
      }
    }
    .table-ctrls {
      display: inline-block;
      line-height: 1em;
      vertical-align: middle;
      padding: 5px;
    }
    a {
      color: #878A8F;
      &.default {
        color: #878A8F;
      }
      &.blue {
        color: $color-lblue;
      }
    }
    &.theme-blue {
      thead th {
        background: $color-lblue;
        color: $color-white;
        padding: 15px;
        font-size: 18px;
      }
      tbody {
        td {
          padding: 15px;
          font-size: 16px;
        }
      }
      @media (min-width: 992px) {
        thead th {
          padding: 20px;
        }
        tbody {
          td {
            padding: 20px;
          }
        }
      }
    }
  }
}

@media screen {
  .default-form {
    .form-group {
      margin-bottom: 20px;
    }
    .form-controls {
      margin-top: 20px;
    }
    .form-control {
      border: 1px solid #878A8F;
    }
    .control-label {
      font-weight: 400;
      .important {
        color: #ff0000;
      }
    }
    .divider-icon{
      display: inline-block;
      vertical-align: middle;
      height: 46px;
      padding: 0 4px;
    }
    .checkbox-form {
      display: inline-block;
      margin-right: 20px;
      input {
        display: none;
        position: relative;
        z-index: -9999;
        &:checked + .chk {
          background: url(images/checkbox-1.svg) no-repeat center center;
        }
        &:checked + .chk.pink {
          background: url(images/checkbox-2a.svg) no-repeat center center;
        }
      }
      .checkbox {
        margin: 0;
        cursor: pointer;
        &.round {
          .chk {
            background: url(images/radio.svg) no-repeat center center;
          }
          input {
            &:checked + .chk {
              background: url(images/radio-chk.svg) no-repeat center center;
            }
          }
        }
      }
      .chk {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        background: url(images/checkbox-2.svg) no-repeat center center;
      }
      .text {
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
        .form-control {
          display: inline-block;
          z-index: 0;
          width: 100%;
        }
      }
    }
  }
}

@media screen {
  .pagination {
    margin: 40px 0 0;
    display: block;
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      display: block;
      li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
      }
      a {
        display: block;
        border: 1px solid #6D6D6D;
        color: #6D6D6D;
        line-height: 1em;
        padding: 10px 15px;
        text-decoration: none;
        &:hover,
        &.active,
        &.current {
          background: $color-lblue;
          color: $color-white;
          border: 1px solid $color-lblue;
        }
        &.next,
        &.prev {
          color: $color-lblue;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }
}

// Form notifs
@media screen {
  .form-ajax-notif {
    display: none;
  }
}


@media screen{
  #site-notice{
    display: none;
  }

  body.site-notice{
    #site-notice{
      display: block;
      background: $color-pink;
      color: $color-white;
      text-align: center;
      padding: 20px 0;
      a{
         color: $color-white;
      }
      h2{
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
      }
      @media (min-width: 992px) {
      }
    }
  }
}



@media screen{

  #post-default{

      .post-heading{
        text-align: center;
        font-size: 2.143em;
        position: relative;
        margin-bottom: 30px;
        span{
          display: inline-block;
          background: #fff;
          padding: 0 30px;          
          color: $color-blue;
          position: relative;
          z-index: 4;
        }
        &:after{
          content: '';
          height: 1px;
          width: 100%;
          background: #B7B7B7;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          z-index: 2;
        }
        @media (min-width: 992px) {
          margin-bottom: 40px;
        }
      }

      .post-highlights{
        display: block;
        position: relative;
        margin-bottom: 30px;
        .bg{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
           z-index: 1;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
        }
        .heading{
          background:rgba(12,70,114,0.9);
          color: $color-white;
          top: 0;
          bottom: 0;
          width: 100%;
          left: 0;
          z-index: 2;
          position: relative;
          padding: 50px 20px;
          .title{
            font-size: 1.500em;
            line-height: 1.3em;
          }
        }
        @media (min-width: 992px) {
          margin-bottom: 40px;
          .heading{
            width: 50%;
            padding: 80px 30px;
          }
        }
      }
  }

}


@media screen {
  .tst-wrapper{
      margin: 0 -15px;
    }
    .tst-list{
      .item{
        float: left;
        padding: 0 15px;
        width: 290px;
      }
      .item-wrapper{
        position: relative;
      }
      .image{
        width: 90px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto -45px;
        position: relative;
        z-index: 2;
      }
      .content{
        background: #fff;
          padding: 70px 30px 25px;
          font-size: 1em;
          font-weight: 300;
          margin-bottom: 15px;
          color: #9B9B9B;
          position: relative;
          z-index: 1;
          &:before{
            color: #9B9B9B;
            content: '\201C';
            font-size: 100px;
            position: absolute;
            font-weight: 300;
            left: 15px;
          top: 0;
          }
      }
      .author{
        font-size: 1em;
        text-align: center;
        .name{
          font-weight: 600;
          color: #606060;
          margin-right: 10px;
        }
        .location{
          font-weight: 300;
          font-style: italic;
        }
      }
      @media (min-width: 992px){ 
        .item{
          float: left;
          width: 380px;
        }
        .content{
          padding: 70px 40px 25px;
        }
      }
    }
    .tst-controls{
      margin-top: 40px;
      text-align: center;
    }
}


@media screen{


  .post-default{

    padding: 50px 0;

    @media (min-width: 992px){ 

      padding: 80px 0;
    
    }
  }

}


@media screen{

  #mobile-menu{
    left:-320px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: $color-blue;
    z-index: 0140;
    width: 320px;
    overflow-y:auto;
    box-shadow: 0px 0px 10px #dedede;
    @include transition(all 0.7s ease);
    &.active{
      left:0;
    }
    .wrapper{
      padding: 30px;
    }
    .heading{
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: center
    }
    .close{
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.4;
      padding: 10px;
      &:hover{
        color: #fff;
      }
    }
    .btn{
      display: block;
    }
    ul{
      float: none!important;
      margin: 0;
      li{
        display: block;
        margin: 0 0 10px;
        padding: 0;
      }
   
      a{
        display: block;
        padding:12px;
        background: $color-white;
        color: $color-blue;
        margin:0;
        text-decoration: none;
        text-align: center;
        font-size: 0.857em;
        &.blue{
          background: $color-lblue;
          color: $color-white;
        }
        &:hover{
          background: $color-lblue;
          color: $color-white;
        }
      }
    }
    .dropdown-menu{
      display: block;
      position: relative;
      border: none;
      border-radius: 0;
      box-shadow: none;
      background: none;
      padding: 0;
      margin: 10px 0 0;
      max-width: none;
      a{
        background: #989898;
        color: $color-white;
      }
    }
  }
}

@media screen {

  .form-group.select {
      position: relative;
      width: 80%;
      margin: 0 auto;

      &::before {
          font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f0dd";
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -9.5px;
        font-size: 15px;
      }

      option {
        font-family: 'Work Sans'; 
      }

  }

}