@media screen{

	body.customer-dashboard{

		#cs-listings{

			.cs-heading{
				padding: 30px 0;
				text-align: center;
				padding:20px 0;

				h2{
					margin: 0 0 20px;
				   	font-size: 28px;
				    line-height: 1em;
				    color: $color-blue;
				}

				@media (min-width: 992px) {
					padding: 40px 0;
					h2{
						font-size: 36px;
						margin-bottom: 0;
					}
					.cs-heading-wrapper{
						display: table;
						width: 100%;
						& > .item{
							display: table-cell;
							vertical-align: middle;
							&:first-child{
								padding-right: 30px;
								text-align: left;
							}
							&:last-child{
								text-align: right;
							}
						}
					}
				}
    		}

    		.cs-contents{
    			background: #F0F3F7;
    			padding:30px 0 0;

                .list-details{
                    background: $color-white;
                    margin-bottom: 30px;
                    color: #606060;
                    .list-heading{
                        padding: 30px;
                        cursor: pointer;
                        position: relative;
                        h3{
                            margin: 0;
                            color: $color-blue;
                            line-height: 1em;
                        }
                        .ctrl{
                            position: absolute;
                            right: 30px;
                            top: 50%;
                            margin-top: -11px;
                            font-size: 1.2em;
                        }
                    }
                    .list-info{
                        border-top: 1px solid #eaeaea;  
                        padding: 30px;
                        // display: none;

						.editing {
							 display: none;
						}
                    }
                }
    			.proposal-box{
    				max-width: 480px;
    				margin: 0 auto 30px;

                    &.selected-agent .pb-content {
                        border: 1px solid #03bf03;  
                        box-shadow: 0 0 0 5px rgba(3, 191, 3, 0.4) inset;
                    }

    				&.no-info{
    					.pb-waiting{
    						text-align: center;
    						.icon{
    							color: #606060;
    							font-size: 5em;
    							line-height: 1em;
    							margin-bottom: 30px;
    						}
    						.text{
    							color: #606060;
    							font-size: 1.500em;
    						}
    					}
    					.pb-final{
		    				.btn{
		    					opacity: 0;
		    				}

		    			}		                        
    				}
    				.pb-profile{
    					text-align: center;
    					color: #606060;
    					.image{
    						a,
							img {
                                width: 100px;
        						height: 100px;
        						border-radius: 50%;
        						overflow: hidden;
        						margin: 0 auto 10px;
                                display: block;	
                            }
    					}
    					.name{
    						font-size: 1.500em;
    						line-height: 1em;
    						margin-bottom: 10px;
    						color: #606060;
    						text-overflow:ellipsis;
    						overflow: hidden;
    						white-space: nowrap;
    						min-height: 24px;
    						a{
    							color: #606060;
    						}
    					}
    					.company{
    						color: $color-lblue;
    						font-size: 0.857em;
    						margin-bottom: 10px;
    						line-height: 1em;
    						white-space: nowrap;
    						text-overflow:ellipsis;
    						overflow: hidden;
    						white-space: nowrap;
    						min-height: 14px;
    					}

    					.rating{
    						margin-bottom: 20px;
    						line-height: 1em;
    						text-overflow:ellipsis;
    						overflow: hidden;
    						white-space: nowrap;
    						min-height: 16px;
    						ul{
    							margin: 0;
    							padding: 0;
    							list-style-type: none;
    							text-align: center;
    							li{
    								display: inline-block;
    							}
    						}
    						i{
    							font-size: 0.857em;
								color: #fe7926;
								
    						}
    					}
    				}
    				.pb-snippet {
    					margin-bottom: 10px;
    					color: #606060;
						p{
							margin:0;
						}
					}	
    				.pb-content{
    					position: relative;
    					display: block;
	    				background: #fff;
	    				padding: 20px 30px 10px;
	    				border:1px solid #B7B7B7;
	    				margin-bottom: 10px;
    				}
    				.pb-controls{
    					.btn{
    						display: block;
    						margin: 10px 0;
    						padding: 10px;
    						font-size: 0.7em;
    						border-radius: 15px;
    						overflow: hidden;
    					}
    				}
    				.pb-final{
	    				background: #C6C6C6;
						p {
							padding: 15px 40px;
							text-align: center;
						}
	    			}
                    .pb-menu-wrapper{
                        background: rgba(38, 38, 38, 0.7);
                         @include transition(all 0.7s ease);
                        position: absolute;
                        top:0;
                        left:0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                        padding: 50px;
                        opacity: 0;
                        .list{
                            padding: 0;
                            margin: 0;
                            list-style-type: none;
                           
                            a{
                                color: $color-white;
                                display: block;
                                font-size: 1.2em;
                                 text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    .pb-menu-ctrl{
                        width: 30px;
                        display: block;
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        z-index: 5;
                        span{
                            background: #606060;
                            height: 3px;
                            width: 100%;
                            margin: 6px 0;
                            display: block;
                             @include transition(all 0.7s ease);
                            
                        }
                    }
                    &.active{
                        .pb-menu-wrapper{
                            z-index: 4;
                            opacity: 1;
                        }
                        .pb-menu-ctrl{
                            span{
                                background: $color-white;
                                &:nth-child(2){
                                   display: none;
                                }
                                &:first-child{
                                    transform: rotate(42deg);
                                    margin: 16px 0;
                                }
                                &:last-child{
                                    transform: rotate(-42deg);
                                    position: absolute;
                                    top: 10px;
                                }
                            }
                        }
                    }

    			}
    			@media (min-width: 992px) {
    				padding: 40px 0;

    				.proposal-box{
    					margin-bottom: 0;
   						&.no-info{
	   						.pb-content{
	   							padding: 93px 30px 90px;
	   						}
	   					}  
	   				}
    			}
   				@media (min-width: 1200px) {
   					
   										
   					.proposal-box{
   						&.no-info{
	   						.pb-content{
	   							padding: 93px 30px 90px;
	   						}
	   					}   
                        .pb-snippet {
                            min-height: 69px;
                        }
	   					.pb-controls{
	   						margin: 0 -10px;
	   						.pb-controls-wrapper{
	   							display: table;
	   							width: 100%;
	   							& > .item{
	   								display: table-cell;
	   								padding: 0 10px;
	   							}
	   						}
	    					.btn{
	    						display: block;
	    					}
	    				}

                        &.with-proposal {
                            .pb-content {
                                padding: 16px 30px 13px;
                            }
                        }
	    			}
   				}
    		}


    	}
	}
}