@media screen{
	body.customer-profile{

		#customer-profile{
			.photo{
				max-width: 250px;
				margin:0 auto 20px;
				border-radius: 50%;
				overflow: hidden;
				border: 1px solid #9B9B9B;
			}
			.info{
				text-align: center;
				.name{
					color: $color-blue;
					margin-bottom: 15px;
					line-height: 1em;
				}
				.location{
					color: #9B9B9B;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
			}
			.moreinfo{
				& > .listitem{
					display: inline-block;
					width: 100%;
					margin-bottom: 10px;
					text-align: center;	
						
					& > .title{
						color: #9B9B9B;
					}
					& > .content{
						color: $color-black;
						text-align: center;
						padding-lefts: 15px;
						a{
							color: $color-black;
						}
					}
				}
			}
			.ctrls{
				max-width: 250px;
				margin: 15px auto 0;
				.btn{
					display: block;
					margin-top: 15px;					
					padding-left: 15px;
					padding-right: 15px;
					&:first-child{
						margin-top: 0;
					}	
				}
			}
			@media (min-width: 992px) {
				.photo{
					margin-right: 30px;
					margin-left: 0;
					margin-bottom: 0;
					max-width: none;
					
				}
				.info{
					text-align: left;
					padding-right: 200px;
					display: inline-block;
					width: 100%;
					vertical-align: top;
				}
				.ctrls{
					width: 180px;
					margin-right: -200px;
					.btn{
						font-size: 0.7em;
					}
				}
				.name{
					float: 	left;
					width: 100%;
				}
				.location{
					float: 	left;
					width: 	100%;
				}
				.moreinfo{
					font-size: 1.1em;
					float: left;
					width: 100%;
					& > .listitem{
						& > .title,
						& > .content{
								text-align: left;
						}
					}
				}
			}
			@media (min-width: 1200px) {
				.photo{
					margin-right: 80px;
				}
			}
		}
		#customer-moreinfo{
			background: #F0F3F7;

			.cp-container{
				background:$color-white;
				border:1px solid #AAAAAA;
				border-top:2px solid $color-lblue;	
				padding: 30px;
				margin-bottom: 30px;

				.heading{
					color: #606060;
				}
				.listitem{
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				.title{
					color: #BCBCBC;
				}
				.content{
					color: #606060;
					padding-top: 10px;
					font-size: 1.250em;
				}
				&.sidebar{
					margin-bottom: 0;
				}
				@media (min-width: 992px) {
					padding: 70px 50px;
					margin-bottom: 0;
					.listitem{
						margin-bottom: 30px;
					}
				}
				&.profile{
					.heading {
						font-weight: 400;
					}
					.content{
						border-bottom:1px solid #BCBCBC;
						padding-bottom: 10px;
					}
				}
			}
			
		}
	}
}