@media screnn{

	body.agent-profile{
		#page-title{
			background: #F7F7F7;
		}
	}
}

@media screen{

	body.agent-profile{

		#agent-profile{
			.profile-details{	
				.profile-detail{
					display: block;
					text-align: center;
					color: #878A8F;
					font-size: 16px;
					border-bottom: 1px solid #B2B2B2;
					padding: 0 0 10px;
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
					.title{
					}
					.content{
					}
				}
			}
			.profile-settings{
				background: #F7F7F7;	
			}
			@media (min-width: 768px){ 
				.profile-details{	
					.profile-detail{
						display: table;
						color: #878A8F;
						text-align: left;
						width: 100%;
						.checkbox{
							margin: 0;
						}
						.title{
							width: 100px;
							display:table-cell;
							padding: 10px;
							vertical-align: middle;
						}
						.content{
							display: table-cell;
							padding: 0;
							vertical-align: middle;
						}
					}
				}
			}
			@media (min-width: 1200px){ 

				.profile-details{	
					.profile-detail{
						font-size: 20px;
						.title{
							width:145px;
							padding: 10px 20px;
						}
					}
				}
			}
		}
	}
}


@media screen{

	body.agent-profile{

		#agent-profile{
			.tab-controls{
				a{
					color: $color-white;
					border: none;
					border-left:1px solid #F7F7F7;
					border-right:1px solid #F7F7F7;
					border-radius: 0;
				}
				.active{
					position: relative;
					a.theme-pink{
						background:#FF6489;
					}
					a.theme-blue{
						background:#27D9E2;
					}
					&:after{
						content: '';
						display: block;
						width: 0; 
						height: 0; 
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-bottom: 7px solid #fff;
						position: absolute;
						bottom: 0;
						left: 50%;

					}
				}
				a.theme-pink{
					background: $color-pink;
					&:hover, &:focus, &:active{
						background:#FF6489;
					}
				}
				a.theme-blue{
					background: $color-lblue;	
					&:hover, &:focus, &:active{
						background:#27D9E2;
					}
				}
			}
			.tab-content{
				background: $color-white;
				border:1px solid #B2B2B2;
				border-top:0;
				.table-responsive,table{
					margin: 0;
					th{
						font-size: 1em;
						padding: 15px;
					}
					td{
						font-size: 1em;
						padding: 15px;
					}
					@media (min-width: 992px){ 
						th{
							padding: 20px;
						}
						td{
							padding: 20px;
						}
					}
				}
			}
			.default-content{
				padding: 15px;
				color: #878A8F;
				@media (min-width: 992px){ 
					padding: 30px 100px;	
				}
			}
			.social-contents{
				.content{
					display: table;
					width: 100%;
					.title{
						display: table-cell;
						vertical-align: middle;	
						padding: 	15px 15px 15px 0;
					}
					.desc{
						display: table-cell;
						vertical-align: middle;	
						text-align: right;	
					}
					.image{
						width: 50px;
						display: inline-block;
					}
				}
				@media (min-width: 992px){ 
					.content-wrapper{
						max-width: 360px;
						margin: 0 auto;
						font-size: 0.857em;
					}
					.content{
						.image{
							width: 100px;
						}
					}
				}
			}
			.qa-contents{
				.content{
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
					.title{
						font-size: 1em;
						margin-bottom: 5px;
					}
					.desc{
						border: 1px solid $color-lblue;
						padding: 10px 15px;
						resize:none;
						width: 100%;
						min-height: 150px;
						font-size: 	0.857em;
						color: #878A8F;
						border-radius: 4px;
						&:disabled{
							background: transparent;
						}
					}
				}
				@media (min-width: 992px){
					.content{
						.desc{
							padding: 15px 20px;
						}
					}
				}
			}
		}
	}

}