@media screen{

	body.process{
		.process-dashboard{
			padding: 50px 0;
			.prmenu-wrapper{
					margin: 0 0 30px;
			}
			.prmenu-list{
				.item{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				.item-wrapper{
					background: #2B2E33;
					color: $color-white;
					display: block;
					text-align: center;
					
					text-decoration: none;
					overflow: hidden;
					position: relative;
					&:hover,
					&:focus,
					&:active{
						background: $color-pink;
					}
				}
				.bg{
					position: absolute;
					top:0;
					left:0;
					right: 0;
					bottom: 0;
					z-index: 1;
					background-repeat:no-repeat;
					background-position: center center; 
					background-size: cover;
					opacity: 0.4;
				}
				.content{
					padding: 30px;
					position: relative;
					z-index: 2;
				}
				.icon{
					width: 100%;
					height: 70px;
					background-size: auto 100%;
					text-align: center;
					display: inline-block;
					margin: 30px auto 20px;
					background-repeat: no-repeat;
					background-position: center center;
				}
				.title{
					margin: 0;
					font-size: 20px;
				}
			}
			@media (min-width: 992px){
				padding:80px 0 50px; 
				.prmenu-wrapper{
					margin: 0 -15px;
				}
				.prmenu-list{
					.item{
						display: inline-block;
						width: 33.33%;
						padding: 0 15px;
						vertical-align: top;
						margin-bottom: 30px;
					}
					.content{

						padding: 40px;
					}
				}
			}
		}
	}
}