@media screen{

	body.settings{
		.settings-dashboard{
			padding: 50px 0;

			.default-table {
				.table {
					thead{
						th{
							padding: 15px;
						}
					}
					tbody {
						td{
							padding: 15px;
						}
					}
				}
			}
		}
	}

}